CONTROLLR_URL=
MATRIX_URL=
CONTROLLR_USERNAME=
MATRIX_USERNAME=
USE_SAME_PASSWORD=true
CLIENT_ID=
DEFAULT_CATEGORY_ID=
MATRIX_ROOMS={
  "backbone": ["!room:wsinternet.com.br"],
  "clientes": ["!other-room:wsinternet.com.br"]
}
